thumbor==7.0.0a5
tornado>=5.1.0
remotecv<3.0.0,>=2.0.0

# circus
git+https://github.com/circus-tent/circus.git@2bedab09145a4959ce02b93777dbffbce56edd8e#egg=circus

cairosvg
circus-web
dateutils
envtpl
graphicsmagick-engine
opencv-engine
# opencv-python
raven
tc-prometheus
# tc-aws
git+https://github.com/kkopachev/aws.git@b5058e6b9fec7354629acc6d5df423e0310bb0cd#egg=tc_aws
tc-core
tc-mongodb
tc-redis
tc-shortener
thumbor-cloud-storage
thumbor-memcached
