# thumbor==6.7.5
git+https://github.com/demosdemon/thumbor.git@eba705ba124a96407855e7c9788ec0855be9911a#egg=thumbor
tornado>=5.1.0
remotecv<3.0.0,>=2.0.0

# circus
git+https://github.com/circus-tent/circus.git@2bedab09145a4959ce02b93777dbffbce56edd8e#egg=circus

cairosvg
circus-web
dateutils
envtpl
graphicsmagick-engine
opencv-engine
# opencv-python
raven
tc-prometheus
tc-aws
tc-core
tc-mongodb
tc-redis
tc-shortener
thumbor-cloud-storage
thumbor-memcached
